/* CSS Document */
html {
    font-size: 62.5%; /* 16px * 62.5% = 10px */
    width: 100%;
    box-sizing: border-box;
}
body {
    color: #333; /* RGB */
    font-family: "Avenir", "Arial";
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 0.5em; /*修正*/
    line-height: 40px;  /*修正*/
    text-align: center;
    padding: 0;
    margin: 0;
}
h1{
    font-family:"Monomaniac One";
    font-size: 7.5rem;
    font-weight: 300;
    margin:  0 0 4.5rem 0;
}
h2 {
    font-size: 2.4rem;
    line-height: 5.0rem;
}
a:hover {
    opacity: 0.5;
} 
/*==================================================
　ハンバーガーボタン
===================================*/

.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
    z-index: 9999;
}
/*ボタン内側*/
.openbtn .openbtn-area{
    transition: all .4s;
}
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #F7F2E9;
  	width: 45%;
  }
.openbtn span:nth-of-type(1) {
	top:15px;	
}
.openbtn span:nth-of-type(2) {
	top:23px;
}
.openbtn span:nth-of-type(3) {
	top:31px;
}
/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/
.openbtn.active .openbtn-area{
	transform: rotateY(-360deg);
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}
.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}
.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}
/*==================================================
　ハンバーガーボタン中身
===================================*/
.nav {
    z-index: 9998;
    text-align: left;
    background: #FE7D28;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    height: 100vh; 
    display: flex;
    top: 0;
    flex-flow: wrap;
  }
.nav.show {
    opacity: 1;
    visibility: visible;
    padding: 0;
}
.burger_logo_p {
    width: 100%;
    text-align: center;
}
.burger_logo_p img{
    height: 100px;
}
.nav_menu_ul li{
    list-style: none;
}
.nav_menu_li a{
    color: #2E2D2C;
    font-weight: 900;
    line-height: 7.0rem;
    font-size: 2.4rem;
    text-decoration: none; 
}
.nav_left{
    padding: 2.0rem;
}
.nav_right{
    position: absolute;
    right: 0;
}
.nav_right .burger_photo{
    height: 100vh;
}
/*==================================================
　Firstview
===================================*/
.firstview{
    background: #FE7D28;
    border: 2px solid #2E2D2C;
    height: 100vh;
    position: relative;
}
.firstview .header{
    display: flex;
    align-items: center;
}
.img_p p{
    width:100%;
    margin:0;
}
.firstview .logo{
    height: 25px;
}
.firstview-container1{
    padding: 5.0rem 0;
}
.img_p{
    position: absolute;
    top: 9px;   
    margin: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.firstview-container1 {
    padding: 1.0rem 0;
    margin-top: 50px;
    }
.firstview-container2{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.firstview-container2 p{
    line-height: 4.0rem;
    margin: 0;
}
.firstview-container2 .sliders{
    padding-top: 3.0rem;
}
.firstview-container2 .top-slider, .bottom-slider{
    background: #F7F2E9;
    border-top: 2px solid #2E2D2C;
    border-bottom: 2px solid #2E2D2C;
}
.firstview-container2 .top-slider p,.bottom-slider p{
    margin: 0;
}
.top-slider,.bottom-slider {
    padding: 0;
}
.firstview-container2 .top-slider{
    margin: 1.0rem 0 4.0rem 0;
}
.firstview-container2 .bottom-slider{
    margin: 4.0rem 0 1.0rem 0;
}
.firstview-container2 img{
    display: block;
    margin: 0 auto;
}
.slider1{
    padding: 0;
}
.slider1 img{
    border: 2px solid #2E2D2C;
    width: 80%;
}
.firstview-container2 img.logo{
    height: 15%;
}
@media screen and (max-width: 768px) {
    .nav_right .burger_photo{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .firstview-container1{
        padding: 1.0rem 0;
    }
    .firstview-container2 {
        padding: 0;
        height: 100%;
        flex-direction: column-reverse; 
    }
    .firstview-container2 .top-slider,.bottom-slider{
        display: none;
    }
    .slider1{
        padding: 0;
    }
    h1 {
        font-size: 9.6rem; 
    }
    .firstview p{
        font-size: 2.4rem;
    }
    .nav .burger_logo{
        display: none;
    }
    .nav_left{
        padding: 10.0rem;
    }
}
/*==================================================
　Wish
===================================*/
.wish{
    background: #F7F2E9;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
}
.wish_container{
    padding: 5.5rem 3.0rem;
}
.underline {
    position: relative;
    display: inline-block;
    z-index: 1; /* テキストの下に表示 */
}
.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px; /* テキストの下に配置 */
    width: 100%;
    height: 6px; /* 下線の太さ */
    background-color: #F8D010; /* 下線の色 */
    transform: translateY(1px); /* 微調整 */
    z-index: -1; /* テキストの下に表示 */
}
.uni-student {
    margin-top: 4.3rem;
}
.orange{
    color: #FE7D28;
}
.small_text{
    font-size: 1rem;
    opacity: 0.6;
}
.housewife {
    margin-top: 3.7rem;
}
@media screen and (min-width: 768px) {
    .wish_container{
        padding: 7.0rem 14.8rem;
    }
    .wish_text{
        display: flex;
    }
    .wish_text .br2,.br5,.br7{
        display: none;
    }
    .housewife{
        margin-left: 5.0rem;
    }
}
/*==================================================
　MENTOR
===================================*/
.mentor{
    background: #FE7D28;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #F7F2E9;
}
.mentor_container{
    padding: 5.5rem 3.0rem;
}
.mentor .title{
    text-align: center;
}
.title h2{
    margin: 0;
}
.title p{
    color: #F8D010;
    margin: 0;
}
.social-link {
    display: inline-block;
    text-align: center;
    text-decoration: none; /* デフォルトのリンクの下線を消す */
    color: inherit; /* リンクの色を親要素の色に合わせる */
    display: flex;
}
.sns img {
    width: 22px;
    height: 22px;
    align-self: center;
}
.sns p {
    font-size: 1rem;
    margin-left: 2.0rem;
    letter-spacing: normal;
}
.mentor_text{
    background: #F7F2E9;
    border: 2px solid #2E2D2C;
    border-radius: 20px;
    color: #2E2D2C;
    font-size: 1.5rem;
    padding: 2.5rem 3.7rem;
    letter-spacing: 0.4rem;
}
.mentor_text span{
    color: #FE7D28;
}
.mentor_nontext{
    display: flex;
    position: relative;
}
.mentor_nontext .sns{
    position: absolute;
    right: 50px;
    z-index: 1;
}
.mentor_nontext .mentor_photo{
    height: 400px;
    justify-content: flex-end;
}
.mentor_nontitle{
    margin-top: 7.0rem;
}
@media screen and (min-width: 768px) {
    .mentor_container{
        padding: 7.0rem 14.8rem;
    }
    .mentor_tetx-p .br{
        display: none;
    }
    .mentor_nontitle{
        display: flex;
        flex-direction: row-reverse;
    }
    .mentor_nontext .mentor_photo{
        height: 600px;
    }
}
/*==================================================
　CONTACT
===================================*/
.contact{
    background: #F7F2E9;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
}
.contact_container{
    padding: 15.5rem 3.0rem;
}
.contact_container img{
    height: 60px;
    margin: 20px auto 0;
}
/*==================================================
　SERVICE
===================================*/
.service{
    background: #FE7D28;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
}
.service h2{
    color: #F7F2E9;
}
.service h3{
    font-size: 2rem;
    color: #FE7D28;
    text-align: center;
}
.service_container{
    padding: 5.5rem 3.0rem;
}
.service .title{
    text-align: center;
}
.about-lesson, .lesson-flow, .sample-video{
    background: #F7F2E9;   
    border-radius: 20px;
    padding: 4.0rem;
    margin-top: 5rem;
}
.service_container li, .small-text{
    font-size: 1.3rem;
    letter-spacing: 0.3em; /*修正*/
    line-height: 20px;  /*修正*/
}
.about-lesson_container ul{
    padding: 0 0 0 2.0rem;
}
.basic img{
    height: 135px;
    margin-top: 6rem;
}
.youtube img{
    height: 135px;
    margin-top: 3rem;
}
.basic p{
    margin: 0;
}
.youtube p{
    margin: 0;
}
.lesson-flow_container .lesson_container{
    display: flex;
}
.lesson_container img{
    height: 80px;
    align-self: center;
}
.lesson_container{
    margin-top: 4.0rem;
}
.lesson-text p{
    margin: 0 0 0 2rem;
}
.lesson-text .small-text{
    font-weight: 600;
}
.note p{
    font-size: 1rem;
    opacity: 60%;
    margin: 4.5rem 0 0;
    letter-spacing: 0.2em;
    line-height: normal;
}
.videos iframe{
    border: 2px solid #2E2D2C;
    border-radius: 10px;
}
@media screen and (min-width: 768px) {
    .service_container{
        padding: 12.8rem 10.0rem;
    }
}
/*==================================================
　ACHIEVEMENT
===================================*/
.achievement{
    background:#F7F2E9;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
    line-height: 30px;
}
.achievement_container{
    padding: 5.5rem 3.0rem;
}
.achievement .title{
    text-align: center;
}
/* .onetwothree_container{
    display: flex;
} */
/* .container_1 img, .container_3{
   flex-direction: column;
   justify-content: start;
} */
.container_1 , .container_2 , .container_3 {
    margin: 0 0 15.0rem;
}
.container_1 .img1, .container_2 .img2, .container_3 .img3{
    height: 220px;
    border: 2px solid #2E2D2C;
}
.container_1 .img1, .container_3 .img3{
    border-top-right-radius: 20px;  
    border-bottom-right-radius: 20px; 
}
.container_2 .img2{
    border-top-left-radius: 20px;  
    border-bottom-left-radius: 20px; 
}
.number1, .number2, .number3{
    width: 9rem;
    z-index: 1;
}
.container_1 , .container_3 {
    position: relative;
}
.number1, .number3{
    position: absolute;
    top: -55px;
    right: -50px;
}
.container_2 {
    position: relative;
}
.number2{
    position: absolute;
    top: -55px;
    left: -20px;
}
/*==================================================
　COMPARISON
===================================*/






/* ==================================================
　CONTACT
===================================
.contact{
    background: #F7F2E9;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
}
.contact_container{
    padding: 15.5rem 3.0rem;
}
.contact_container img{
    height: 60px;
    margin: 20px auto 0;
} */