/* CSS Document */
html {
    font-size: 62.5%; /* 16px * 62.5% = 10px */
    width: 100%;
    box-sizing: border-box;
}
body {
    color: #333; /* RGB */
    font-family: "Avenir";
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 0.5em; /*修正*/
    line-height: 40px;  /*修正*/
    text-align: center;
    padding: 0;
    margin: 0;
}
h1{
    font-family:"Monomaniac One";
    font-size: 7.5rem;
    font-weight: 300;
    margin:  8rem 0 4.5rem 0;
}
h2 {
    font-size: 2.4rem;
    line-height: 5.0rem;
}
a:hover {
    opacity: 0.5;
} 
/*==================================================
　ハンバーガーボタン
===================================*/
header{
    position: relative;
}
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: fixed;
    top: 5px;
    right: 20px;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
    z-index: 9999;
}
/*ボタン内側*/
.openbtn .openbtn-area{
    transition: all .4s;
}
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #F7F2E9;
  	width: 45%;
  }
.openbtn span:nth-of-type(1) {
	top:15px;	
}
.openbtn span:nth-of-type(2) {
	top:23px;
}
.openbtn span:nth-of-type(3) {
	top:31px;
}
/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/
.openbtn.active .openbtn-area{
	transform: rotateY(-360deg);
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}
.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}
.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}
/*==================================================
　ハンバーガーボタン中身
===================================*/
.nav {
    z-index: 9998;
    text-align: left;
    background: #FE7D28;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    height: 100vh; 
    display: flex;
    top: 0;
    flex-flow: wrap;
  }
.nav.show {
    opacity: 1;
    visibility: visible;
    padding: 0;
}
.burger_logo_p {
    width: 100%;
    text-align: center;
}
.burger_logo_p img{
    height: 100px;
}
.nav_menu_ul li{
    list-style: none;
}
.nav_menu_li a{
    color: #2E2D2C;
    font-weight: 900;
    line-height: 7.0rem;
    font-size: 2.4rem;
    text-decoration: none; 
}
.nav_left{
    padding: 2.0rem;
}
.nav_right{
    position: absolute;
    right: 0;
}
.nav_right .burger_photo{
    height: 100vh;
}
/*==================================================
　Firstview
===================================*/
.firstview{
    background: #FE7D28;
    border: 2px solid #2E2D2C;
    height: 100vh;
    position: relative;
}
.firstview .header{
    display: flex;
    align-items: center;
}
.img_p p{
    width:100%;
    margin:0;
}
.firstview .logo{
    height: 25px;
}
.firstview-container1{
    padding: 5.0rem 0;
}
.img_p{
    position: absolute;
    top: 9px;   
    margin: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.firstview-container1 {
    padding: 1.0rem 0;
    margin-top: 50px;
    }
.firstview-container2{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.firstview-container2 p{
    line-height: 4.0rem;
    margin: 0;
}
.firstview-container2 .sliders{
    padding-top: 3.0rem;
}
.firstview-container2 .top-slider, .bottom-slider{
    background: #F7F2E9;
    border-top: 2px solid #2E2D2C;
    border-bottom: 2px solid #2E2D2C;
}
.firstview-container2 .top-slider p,.bottom-slider p{
    margin: 0;
}
.top-slider,.bottom-slider {
    padding: 0;
}
.firstview-container2 .top-slider{
    margin: 1.0rem 0 4.0rem 0;
}
.firstview-container2 .bottom-slider{
    margin: 4.0rem 0 1.0rem 0;
}
.firstview-container2 img{
    display: block;
    margin: 0 auto;
}
.slider1{
    padding: 0;
}
.slider1 img{
    border: 2px solid #2E2D2C;
    width: 80%;
}
.firstview-container2 img.logo{
    height: 15%;
}
@media screen and (max-width: 768px) {
    .nav_right .burger_photo{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .firstview-container1{
        padding: 1.0rem 0;
    }
    .firstview-container2 {
        padding: 0;
        height: 100%;
        flex-direction: column-reverse; 
    }
    .firstview-container2 .top-slider,.bottom-slider{
        display: none;
    }
    .firstview-container2 .sliders {
        padding-top: 0;
    }
    .slider1{
        padding: 0;
    }
    h1 {
        font-size: 9.6rem; 
    }
    .firstview p{
        font-size: 2.4rem;
    }
    .nav .burger_logo{
        display: none;
    }
    .nav_left{
        padding: 10.0rem;
    }
}
/*==================================================
　Wish
===================================*/
.wish{
    background: #F7F2E9;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
}
.wish_container{
    padding: 5.5rem 3.0rem;
}
.underline {
    position: relative;
    display: inline-block;
    z-index: 1; /* テキストの下に表示 */
}
.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px; /* テキストの下に配置 */
    width: 100%;
    height: 6px; /* 下線の太さ */
    background-color: #F8D010; /* 下線の色 */
    transform: translateY(1px); /* 微調整 */
    z-index: -1; /* テキストの下に表示 */
}
.uni-student {
    margin-top: 4.3rem;
}
.orange{
    color: #FE7D28;
}
.small_text{
    font-size: 1rem;
    opacity: 0.6;
}
.housewife {
    margin-top: 3.7rem;
}
@media screen and (min-width: 768px) {
    .wish_container{
        padding: 7.0rem 14.8rem;
    }
    .wish_text{
        display: flex;
    }
    .wish_text .br2,.br5,.br7{
        display: none;
    }
    .housewife{
        margin-left: 5.0rem;
    }
}
/*==================================================
　MENTOR
===================================*/
.mentor{
    background: #FE7D28;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #F7F2E9;
}
.mentor_container{
    padding: 5.5rem 3.0rem;
}
.mentor .title{
    text-align: center;
}
.title h2{
    margin: 0;
}
.title p{
    color: #F8D010;
    margin: 0;
}
.social-link {
    display: inline-block;
    text-align: center;
    text-decoration: none; /* デフォルトのリンクの下線を消す */
    color: inherit; /* リンクの色を親要素の色に合わせる */
    display: flex;
}
.sns img {
    width: 22px;
    height: 22px;
    align-self: center;
}
.sns p {
    font-size: 1rem;
    margin-left: 2.0rem;
    letter-spacing: normal;
}
.mentor_text{
    background: #F7F2E9;
    border: 2px solid #2E2D2C;
    border-radius: 20px;
    color: #2E2D2C;
    font-size: 1.5rem;
    padding: 2.5rem 3.7rem;
    letter-spacing: 0.4rem;
}
.mentor_text span{
    color: #FE7D28;
}
.mentor_nontext{
    display: flex;
    position: relative;
    justify-content: center;
}
.mentor_nontext .mentor_photo{
    height: 400px;
    justify-content: flex-end;
}
.mentor_nontitle{
    margin-top: 7.0rem;
}
.mentor_nontext .sns{
    margin-right: -30px;
}
@media screen and (min-width: 768px) {
    .mentor_container{
        padding: 5.5rem 12.8rem 10rem;
    }
    .mentor_tetx-p .br{
        display: none;
    }
    .mentor_nontitle{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        gap: 200px;
        justify-content: flex-end;
    }
   
    .mentor_nontext .sns {
        margin-right: -100px;
        margin-top: 20px;
      }
    .mentor_nontext .mentor_photo{
        height: 600px;
    }
}
/*==================================================
　CONTACT
===================================*/
.contact{
    background: #F7F2E9;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
}
.contact_container{
    padding: 15.5rem 3.0rem;
}
.contact_container img{
    height: 60px;
    margin: 20px auto 0;
}
/*==================================================
　SERVICE
===================================*/
.service{
    background: #FE7D28;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
}
.service h2{
    color: #F7F2E9;
}
.service-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}
.service h3{
    font-size: 2rem;
    color: #FE7D28;
    text-align: center;
    margin: 0;
}
.service_container{
    padding: 5.5rem 3.0rem;
}
.service .title{
    text-align: center;
}
.about-lesson, .lesson-flow, .sample-video{
    background: #F7F2E9;   
    border-radius: 20px;
    padding: 3.7rem;
    margin-top: 5rem;
    border: 2px solid #2E2D2C;
}
.service_container li, .small-text{
    font-size: 1.3rem;
    letter-spacing: 0.3em; /*修正*/
    line-height: 20px;  /*修正*/
}
.about-lesson_container ul{
    padding: 0 0 0 2.0rem;
}
.basic,
.youtube {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.youtube {
    margin-top: 60px;
}
.basic img,
.youtube img{
    height: 135px;
    border: 2px solid #2E2D2C;
    border-radius: 20px;
}
.basic p,
.youtube p{
    margin: 0;
}
.lesson-flow_container_nontitle {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.lesson_container{
    display: flex;
    align-items: start;
}
.lesson_container img{
    height: 80px;
    align-self: center;
}
.lesson_container{
    margin-bottom: 4.0rem;
}
.lesson-text p{
    margin: 0 0 0 2rem;
}
.lesson-text .small-text{
    font-weight: 600;
}
.note{
    display: flex;
    justify-content: flex-start;
}
.note p{
    font-size: 1rem;
    opacity: 60%;
    margin: 0;
    letter-spacing: 0.2em;
    line-height: normal;
}
.videos{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
.videos iframe{
    border: 2px solid #2E2D2C;
    border-radius: 10px;
}
@media screen and (min-width: 768px) {
    .service h3{
        font-size: 2.4rem;
    }
    .service_container{
        padding: 5.5rem 10rem 10rem;
    }
    .about-lesson, .lesson-flow, .sample-video{
        padding: 10.0rem 9.0rem;
    }
    .about-lesson_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20.0rem;
        margin-top: 100px;
      }
    .youtube {
        margin-top: 0px;
    }
    .basic img,
    .youtube img{
    height: 200px;
    }
    .basic p,
    .youtube p{
    margin: 0;
    }
    .basic,
    .youtube {
        width: 300px;
    }
    .lesson-flow{
        padding: 10rem 20rem;
    }
    .videos{
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        height: 300px;
    }
    .videos iframe{
        width: 460px;
        height: 258px;
    }
}
/*==================================================
　ACHIEVEMENT
===================================*/
.achievement{
    background:#F7F2E9;
    text-align: left;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
    line-height: 30px;
}
.achievement_container{
    padding: 5.5rem 0rem 8rem;
}
.achievement .title-b{
    text-align: center;
    margin-bottom: 9rem;
}
.title-b p{
    color: #FE7D28;
}
.onetwothree_container{
    display: flex;
    flex-direction: column;
}
.onetwothree_container p{
    margin: 1.6rem;
    width: 354px;
    margin: 0;
}
.container_1 , .container_2 , .container_3 {
    margin: 0 0 15.0rem;
    display: flex;
    flex-direction: column;
}
.container_right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.container_2 {
    margin: 0 0 15.0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.container_1 p,
.container_3 p{
    margin-left: 30px;
}

.container_1 .img1, .container_3 .img3{
    height: 220px;
    border: 2px solid #2E2D2C;
    border-left: none;
    border-top-right-radius: 20px;  
    border-bottom-right-radius: 20px; 
}
.container_2 .img2{
    height: 220px;
    border: 2px solid #2E2D2C;
    border-right: none;
    border-top-left-radius: 20px;  
    border-bottom-left-radius: 20px; 
}
.img_container {
    position: relative;
    width: 354px;  
}
.container_2 .img_container {
    text-align: right;
    flex-direction: row-reverse;
}
.number1,
.number3 {
    position: absolute;
    top: -90px;
    right: 0;
  }
.number2{
   position: absolute;
   top: -90px;
   left: 0;
}
.more-button{
    text-align: center;
}
.more-button a{
    background: #9DBAF0;
    color: #fff;
    text-decoration: none;
    display: inline;
    padding: 1rem 2rem;
    border: 1px solid #2E2D2C;
    border-radius: 30px;
}
@media screen and (min-width: 768px) {
 .container_1 , .container_3 {
    flex-direction: row;
 }  
 .container_2{
    flex-direction: row-reverse;
 }
 .container_1 .img1, .container_2 .img2, .container_3 .img3{
    height: 390px;
 }
 .img_container {
    width: 670px;  
 }
 .number1,
 .number3 {
    top: -90px;
    right: 0;
 }
 .number2{
    top: -90px;
   left: 0;
 }
 .onetwothree_container p{
    align-self: center;
}

}
/*==================================================
　COMPARISON
===================================*/
.comparison{
    background: #FE7D28;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #F7F2E9;
}
.comparison_container{
    padding: 5.5rem 3.0rem 8rem;
}
.comparison .title{
    text-align: center;
}
.comparison  h2{
    color: #F7F2E9;
}
.comparison-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comparison-title {
    display: inline-block;
    border: 2px solid #F7F2E9;
    border-radius: 50px;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    margin-top: 5rem;
}
.comparison-title_b{
    display: inline-block;
    border-radius: 50px;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-top: 5rem;
}
.comparison-title_b img{
    width: 250px;
}
.comparison_row {
    display: flex;
    text-align: left;
    line-height: normal;
    letter-spacing: 0.4rem;
    margin: 1rem;
    width: 366px;
    font-weight: 300;
}
.comparison_row dt{
    width: 166px;
    border-bottom: 2px solid #F7F2E9;
}
.comparison_row .dd-div{
    text-align: center;
}
.comparison_row dd{
    margin: 0 0 0 2rem;
    width: 180px;
    border-bottom: 2px solid #F7F2E9;
}
@media screen and (min-width: 768px) {
    .comparison-block_container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
    }
}
/* ==================================================
　CONTACT
=================================== */
.contact{
    background: #F7F2E9;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
}
.contact_container{
    padding: 15.5rem 3.0rem;
}
.contact_container img{
    height: 60px;
    margin: 20px auto 0;
}
/* ==================================================
　VOICE
=================================== */
.voice{
    background: #FE7D28;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #F7F2E9;
}
.voice_container{
    padding: 5.5rem 3.0rem 8rem;
    position: relative;
}
.voice .title{
    text-align: center;
    margin-bottom: 45px;
}
.voice  h2{
    color: #F7F2E9;
}
.voice  h3{
    line-height: normal;
    font-size: 1.6rem;
}
.voice span{
    color: #FE7D28;
}
.quote_container{
    position: relative;
}
.quotation-top{
    position: absolute;
    top: -30px;
    left: 0;
    width: 6rem;
}
.quotation-bottom{
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 6rem;
}
.voice-text_container{
    background:#F7F2E9;
    border: 2px solid #2E2D2C;
    border-radius: 20px;
    color: #2E2D2C;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.voice-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.voice-title img{
    width: 233px;
}
.voice-face{
    width: 8rem;
}
.voice-text_container img{
    margin-bottom: 20px;
}
.voice-text_container p{
    text-align: left;
    font-size: 1.4rem;
    color: #2E2D2C;
    line-height: 25px;
    letter-spacing: 0.4rem;
    margin: 0 auto;
}
.slick-track{
    padding-top: 20px;
}
@media screen and (min-width: 768px) {
    .voice_container{
        padding: 5.5rem 10rem 10rem;
    }
    .voice-text_container .delete-br{
        display: none;
    }
    .voice-text_container{
        padding: 3rem 24rem 8rem;
    }
    .voice-title img{
        width: 400px;
    }
}
/* NEXTボタンのカスタムスタイル */
.next {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background: none; /* 背景色を削除 */
    border: none; /* ボーダーを削除 */
    padding: 0;
    cursor: pointer;
    z-index: 100;
    display: flex; /* テキストと画像を横並びに */
    align-items: center; /* テキストと画像を垂直方向に中央揃え */
}

/* NEXTボタンのテキストスタイル */
.next span {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    color: #F7F2E9;
    margin-right: 10px; /* 画像との間にスペースを追加 */
}

/* NEXTボタンの画像サイズ調整 */
.next img {
    width: 20px; /* 画像の幅を調整 */
    height: auto; /* 高さを自動調整 */
}

/* NEXTボタンのホバースタイル（必要に応じて追加） */
.next:hover img {
    opacity: 0.8; /* ホバー時に少し透明にするなど */
}

/* スライダーのデフォルト矢印を非表示にする */
.slick-next.slick-arrow {
    display: none !important;
}
.slick-prev.slick-arrow {
    display: none !important;
}

/* ==================================================
　FAQ
=================================== */
.FAQ{
    background:#F7F2E9;
    text-align: center;
    border: 2px solid #2E2D2C;
    border-top: none;
    color: #2E2D2C;
}
.FAQ_container{
    padding: 5.5rem 0rem 8rem;
}
.FAQ .title-b{
    text-align: center;
    margin-bottom: 9rem;
}
.FAQ h2{
    margin-bottom: 0;
}
.faq-title_p{
    margin: 0;
}
.title-b p{
    color: #FE7D28;
}
.FAQ_container{
    padding: 5.5rem 3.0rem 8rem;
}
.faq-container button{
    color: #333; /* RGB */
    font-family: "Avenir", "Arial";
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.3em; /*修正*/
    line-height: 30px;  /*修正*/
    border: 2px solid #2E2D2C;
}
.faq-container {
    background-color: #ffd7b5;
    border-radius: 5px;
    margin-bottom: 10px;
}
.faq-question {
    background-color: #ffb380;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.faq-answer {
    padding: 0 18px;
    background-color: #ffd7b5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-right: 2px solid #2E2D2C;
    /* border-bottom: 2px solid #2E2D2C; */
    border-left: 2px solid #2E2D2C;
    border-top: none;
}
.faq-answer p{
    letter-spacing: 0.3em; /*修正*/
    line-height: 30px;  /*修正*/
    text-align: left;
}
.faq-question:after {
    content: '\02795';
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}
.faq-answer .active:after {
    content: "\2796";
}
@media screen and (min-width: 768px) {
    .FAQ_container{
        padding: 5.5rem 10rem 8rem;
    }
}
/* ドットのコンテナのスタイル */
.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* 各ドットアイテムのスタイル */
.slick-dots li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

/* ドットボタンのスタイル */
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 14px;
    height: 14px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

/* ドットの見た目 */
.slick-dots li button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #F7F2E9;
    opacity: 1;
}

/* アクティブなドットのスタイル */
.slick-dots li.slick-active button:before {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 2px solid #F7F2E9;
    box-sizing: border-box;
}

/* ==================================================
　footer
=================================== */
footer{
    background: #FE7D28;
    border: 2px solid #2E2D2C;
    border-top: none;
    font-size: 1rem;
    letter-spacing: 0.3rem;
}
/*==================================================
　CONTACT　BUTTON
===================================*/

.contact-button img{
    width: 200px;
    margin:  0;
    z-index: 1;
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
}
.contact-button img.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
    .contact-button img{
        width: 300px;
    }
}